<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syafei.chapter5binartask">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter5binartask">
        <activity
            android:name=".activityBringData.DataIntentActivityForResult"
            android:exported="false" />
        <activity
            android:name=".activityBringData.DataIntentActivityResult"
            android:exported="false" />
        <activity
            android:name=".activityBringData.DataIntentActivityTree"
            android:exported="false" />
        <activity
            android:name=".activityBringData.DataIntentActivityTwo"
            android:exported="false" />
        <activity
            android:name=".activityBringData.OpenProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivityRecyclerview" />
        <activity android:name=".activityBringData.DataIntentActivity" />
    </application>

</manifest>